/* Підключення шрифтів Intro */

@font-face {
	font-family: 'Intro';
	src: url('../fonts/Intro Thin Alt.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Intro';
	src: url('../fonts/Intro Light Alt.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Intro';
	src: url('../fonts/Intro Regular Alt.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Intro';
	src: url('../fonts/Intro Book Alt.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Intro';
	src: url('../fonts/Intro Bold Alt.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Intro';
	src: url('../fonts/Intro Black Alt.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* Класи для використання шрифтів Intro */
.text-thin {
	font-family: 'Intro', sans-serif;
	font-weight: 100;
}

.text-light {
	font-family: 'Intro', sans-serif;
	font-weight: 300;
}

.text-regular {
	font-family: 'Intro', sans-serif;
	font-weight: 400;
}

.text-book {
	font-family: 'Intro', sans-serif;
	font-weight: 500;
}

.text-bold {
	font-family: 'Intro', sans-serif;
	font-weight: 700;
}

.text-black {
	font-family: 'Intro', sans-serif;
	font-weight: 900;
}
